
<ion-split-pane>
  <ion-menu contentId="content">
 

    <ion-content class='lista'>

      <img src="http://xiencias.com/capital/www/img/logocapital_1.png" />
      <ion-list >
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" >
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
 
        
      </ion-list>
 
    </ion-content>
 
  </ion-menu>
 
  <ion-router-outlet id="content" main></ion-router-outlet>
 
</ion-split-pane>